@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0; 
    margin:0;
    font-family: 'Noto Sans KR', sans-serif;
}

li {list-style: none;}

#filterToggle {
    padding: 10px;
    width: 50px;
    height: 50px;
}

.menu {
    width: 50px;
    height: 50px;
    margin-top: -20px;
    margin-left: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }


#venues {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.venus_dimmed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
}
.venues_layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
  padding: 20px;
  overflow: hidden;
  background-color: #fff;
  z-index: 10;
  border-radius: 16px 16px 0 0;
}
#venues h1 { font-size: 24px; font-weight: 700; line-height: 160%; margin-bottom: 10px; }
#venues h2 { font-weight: 700; line-height: 160%; margin-bottom: 10px; }
#venues input + label { margin-left: 10px; display: inline-block; }
#venues .tab-content { 
  overflow: hidden;
  overflow-y: auto; 
  height: 100%;
  padding-bottom: 40px;
  padding-right: 5px;
}
#venues ul li { position: relative; min-height: 46px; }
#venues ul li input { position: absolute; top: 10px; left: 15px; }
#venues ul li label { padding-left: 20px; width: 100%; display: block; }
#venues #name {margin-bottom: 20px;}
#venues #types {margin-bottom: 20px;}


#wheel {
    min-width: 320px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#desc {
  padding: 16px;
  display: none;
  font-size: 18px;
}

#canvas2{z-index:10;pointer-events: none;position: fixed;top: 0;transform: scale(1.1);}


.modal-footer svg {vertical-align: middle;}